section#info {
  position: relative;
  width: 100%;
  min-height: auto;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background: asset-data-url('arterra-event-gallery-outside.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  -o-background-size: cover;
  background-position: center;
  text-align: center;
  color: white;

}
.opaque-white {
  background: rgba(255,255,255,0.6);
  padding: 40px;
  border-radius: 25px;
}
