section#registry {
  position: relative;
  width: 100%;
  min-height: auto;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background: asset-data-url('sunset.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  -o-background-size: cover;
  background-position: center;
  text-align: center;
  color: white;
}
.opaque-white {
  background: rgba(255,255,255,0.6);
}
.full-width{
  width: 100% !important;
}
.no-max-width {
    max-width: none;
}
