.fancy-font {
  color: black;
  font-family: 'Unica One', cursive;
  h2 {
    font-size: 50px;
  }
  h3 {
    font-size: 35px;
  }
  p,a {
    font-family: 'Farsan', cursive;
    font-size: 25px;
  }
}
.reduce-padding {
  padding-top: 20px;
  padding-bottom: 20px;
}
