%section#bios
.container
.row
.col-lg-12.text-center
  %h2.section-heading Wedding Party Bios
  %hr.primary/
.container
.row
.col-lg-12.text-center
  %h3 Bride's Party
  - @bridePartyBios.each do |bioProfile|
    = render :partial => 'bio', locals: { name: bioProfile.name, image_url: bioProfile.imageUrl, bio_text: bioProfile.bioText }
.col-lg-12.text-center
  %h3 Groom's Party
  - @groomPartyBios.each do |bioProfile|
    = render :partial => 'bio', locals: { name: bioProfile.name, image_url: bioProfile.imageUrl, bio_text: bioProfile.bioText }
