.col-lg-2.col-sm-2.no-padding
  %a.portfolio-box{:href => image_url}
    %img.img-responsive{:alt => "", :src => image_url}/
    .portfolio-box-caption
      .portfolio-box-caption-content
        .project-category.text-faded= name
        .project-name= bio_title
        .project-text= simple_format(bio_text)
-#       .col-lg-2.col-sm-2
-#         %a.portfolio-box{:href => "assets/jesse.jpeg"}
-#           %img.img-responsive{:alt => "", :src => "assets/jesse.jpeg"}/
-#           .portfolio-box-caption
-#             .portfolio-box-caption-content
-#               .project-category.text-faded
-#                 Category
-#               .project-name
-#                 Project Name
