%header#page-top
  .header-content
    .header-content-inner
      %h1#homeHeading Welcome to the Wedding of Aaron Cowdrey & Taylor Geither!
      %hr
      %p All the info you need about our wedding.
      %a.btn.btn-primary.btn-xl.page-scroll{:href => "#about"} Find Out More
