%section#info.bg-primary
  .container
    .row
      .col-lg-8.col-lg-offset-2.text-center
        %h2.section-heading This is the info section
        %hr.light
        %p.text-faded I don't know what to put here yet, so here's hoping I get some good ideas?
        %a.page-scroll.btn.btn-default.btn-xl.sr-button{:href => "#link"} deadlink lol
