%section#info.reduce-padding
  .container
    .row
      .opaque-white.col-lg-8.col-lg-offset-2.text-center.fancy-font
        %h2.section-heading Information
        %hr.light
        %h3.section-heading Wedding Details
        %p Wedding Ceremony & Reception: Friday, June 23rd
        %p Time: TBD (Check back here!)
        %p Location: Arterra Event Gallery in Lawrence, Kansas
        %a{:href => "http://arterraeventgallery.com"} Arterra Website
        %h3 Accommodations
        %p Please reserve your room with our agent, Some Person, by some date.
        %p 555-555-5555
        %p Some Random Hotel goes here
