%section#info.reduce-padding
  .container
    .row
      .opaque-white-rounded.col-lg-8.col-lg-offset-2.text-center.fancy-font
        %h2.section-heading Information
        %hr.light
        %h3.section-heading Wedding Details
        %p Wedding Ceremony & Reception: Saturday, September 23rd
        %p Time: 5:00 PM
        %p Location: Arterra Event Gallery in Lawrence, Kansas
        %a{:href => "http://arterraeventgallery.com"} Arterra Website
        %h3 Accommodations
        %p (Please book by September 1st to ensure discount)
        %p.text-large Best Western Lawrence:
        %a{:href => "https://www.google.com/maps/place/2309+Iowa+St,+Lawrence,+KS+66046/"} Address: 2309 Iowa St, Lawrence, KS 66046 (Map Link)
        %p
        %a{:href => "https://www.bestwestern.com/en_US/book/hotel-details.17120.html?groupId=4X2PU3R8"} Book Here to get Discount!
        %p
        %p.text-large Residence Inn by Marriott Kansas City at The Legends:
        %a{:href => "https://www.google.com/maps/place/1875+Village+W+Pkwy,+Kansas+City,+KS+66109/"} Address: 1875 Village W Pkwy, Kansas City, KS 66111 (Map Link)
        %p
        %p (Waiting for Room Block Agreement)
