%section#info.reduce-padding
  .container
    .row
      .opaque-white-rounded.col-lg-8.col-lg-offset-2.text-center.fancy-font
        %h2.section-heading Information
        %hr.light
        %h3.section-heading Wedding Details
        %p Wedding Ceremony & Reception: Saturday, September 23rd
        %p Time: TBD (Check back here!)
        %p Location: Arterra Event Gallery in Lawrence, Kansas
        %a{:href => "http://arterraeventgallery.com"} Arterra Website
        %h3 Accommodations
        %p Still working on this
