%section#map.reduce-padding
  .container
    .row
      .col-lg-8.col-lg-offset-2.text-center.fancy-font
        %h2.section-heading Map
        %iframe{ allowfullscreen: '',
                 frameborder: '0',
                 height: '450',
                 src: 'https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d3103.0842345951783!2d-95.28458168464824!3d38.94490397956343!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e6!4m0!4m5!1s0x87bf6931116a52ad%3A0x5e192c9d911f6d9e!2sArterra+Event+Gallery%2C+2161+Quail+Creek+Dr%2C+Lawrence%2C+KS+66047!3m2!1d38.944904!2d-95.282393!5e0!3m2!1sen!2sus!4v1479622306844',
                 style: 'border:0',
                 width: '100%' }
