%section#registry.no-padding.col-lg-12
  .container
    .row
      .col-lg-6
      .opaque-white.col-lg-6.text-center.fancy-font
        %h2.section-heading Registry
        %hr.light
        %p For our registry, we have decided to do a honeymoon registry! We haven't had the opportunity to go on many vacations together, so what better place than the “happiest place on earth to spend our honeymoon”, Disney World. Having lived together for a while before getting married we already have most of the things we need for our home, so instead of gifts we would like to ask our guests to help us have an amazing time on our honeymoon. Click on the link to contribute to our hotel accommodations, tickets to all the parks, and some extra fun stuff to do while we're there. Feel free to message us if you have any questions at all!
        %p - Taylor and Aaron
        .div
          .col-lg-6.text-right
            %a{:href => "https://disney.honeymoonwishes.com/Honeymoon-Registry-329053-Walt-Disney-World-Resort-Taylor-Geither-Aaron-Cowdrey.html"} Gift Registry
          .col-lg-4.text-left
            %a{:href => "https://disney.honeymoonwishes.com/Honeymoon-Registry-329053-Walt-Disney-World-Resort-Taylor-Geither-Aaron-Cowdrey.html"}
              %img{:src => "assets/disney-world-icon.png"}/
